@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

.homePage {
    max-width: 100%;
}

.banner {
    background-image: url("images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
    display: flex;
    align-items: center;
    padding-left: 30px;
}

.bannerContent {
    max-width: 45%;
    max-height: 80%;
    overflow-y: hidden;
    background-color: rgba(255, 51, 51, 0.4);
    padding: 40px 35px;
    color: white;
}
.bannerTitle{
    font-size: 1.5rem;
    margin-bottom: 15px;
    letter-spacing: 1px;
    @media screen and (min-width: 576px){
        font-size: 2.4rem;
    }
}
.bannerCaption{
    letter-spacing: 1px;
    font-size: 13px;
    @media screen and (min-width: 576px){
        font-size: 16px;
    }
}
.navbar {
    display: flex;
    justify-content: center;
    padding: 15px 10px;
}

.header {
    display: flex;
    list-style-type: none;

    flex: 1;
    justify-content: center;
    overflow-x: auto;
    font-size: 12px;
    letter-spacing: 2px;
    max-width: 100%;
    gap: 14px;
    @media screen and (min-width: 576px){
        font-size: 18px;
        gap: 24px;
    }
}
.header::-webkit-scrollbar {
    width: 2px;
    height: 2px;
}
.header::-webkit-scrollbar-track {
    background-color: #F5F5F5;
}

.header::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 10px;
}

.header::-webkit-scrollbar-thumb:hover {
    background-color: #999;
}

.cartSection {
    display: flex;
    gap: 11px;
    align-items: center;
}
.phoneIcon{
    border: 2px solid black;
    padding: 4px;
    border-radius: 50%;
    width: 25px;
}
.cartIcon{
    width: 25px;
}
.orderContainer {
    background-image: linear-gradient(to right, #E71187, #ccff66);
    color: white;
    padding: 20px 15px; 
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    overflow: auto;
    padding-bottom: 3rem;
}
.orderTitle{
    letter-spacing: 2px;
    font-size: 2.5rem;
}

.cardsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

.orderCard {
    background-color: white;
    width: 300px;
    border-radius: 0 30px 0 30px;
    color: black;
    max-width: 100%;
    padding: 30px 15px;
    text-align: center;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.image {
    width: 100%; 
    height: 250px;
    object-fit: cover;
    border-radius: 0 30px 0 30px;
}

.orderCardCaption {
    max-width: 100%;
    margin: 0 auto; 
    text-align: center;
}

.orderButton {
    outline: none;
    border-radius: 20px;
    padding: 12px 35px;
    border: none;
    background-color: #e6ffcc;
    font-weight: bold;
}
